.Languages{ color: #b48608; font-family: 'Droid serif', serif; font-size: 36px;
 font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center; }

.LContent{
    
}